<h2 class="center">Welcome to the Johnson & Jones Family Book</h2>

<div class="center">
  <p>Research done by Marcia Johnson, daughter of Daniel Johnson and Dianna Jones.</p>
  <p>Website designed and developed by Kevon Eaglin, husband of Marcia Johnson.</p>
</div>
