<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>
  <script src="assets/js/script.js" defer></script>
  <title>Johnson-Jones Family Book</title>
</head>
<body>
  <header>
    <nav class="green">
      <div class="navbar-wrapper">
        <a href="/" class="brand-logo">Family Book</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/people">Family Members</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div> 
    </nav>
  </header>
  <main>
    {{!-- I would add the container so that everything has more padding! --}}
    <div class="container">
      {{{body}}}
    </div>
  </main>
  <footer class="page-footer black center">
    <p class="white-text">&copy; Kevon Eaglin 2017. Made with &hearts; in DC.</p>
  </footer>
</body>
</html>
